=========CSS
nav {
  background-color: #343a40!important;
  padding-bottom : 10px;
  color: white;
}

.highlight {
  background-color: yellow;
}

  color: white;
}

main {
  margin-top: 7em;
}

#searchBox {
  height: 45px;
  font-size: 20px;
}

.suggestionResultItem:hover, .selectedItem {
  background-color: #0275d8;
  cursor: pointer;
  color: #fff;

  }


.highlight {
  background-color: yellow;
}
